* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}

input:focus {
  outline: none;
}

.todo-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  background-color: rgb(68, 83, 78);
  position: relative;
}

.form-container {
  margin-bottom: 4rem;
}

.form-container form  {
 
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-control input[type='text'] {
  height: 3rem;
  padding: .5rem;
  width: 30rem;
  text-transform: capitalize;
  margin-right: 1rem;
  box-shadow: .5rem 1rem 3rem rgb(67, 64, 64);
  outline: none;
  border: 0;
  border-radius: .3rem;
}

input[type='checkbox'] {
  margin-right: 1rem;
}

button {
  width: 10rem;
  height: 3rem;
}

.list {
  width: 25rem;
}

.list li {
  margin: .5rem 0;
  font-size: 1.7rem;
  padding: .7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(79, 79, 116);
  box-shadow: .5rem 1rem 3rem rgb(67, 64, 64);
}
.btn-dlt {
  color: rgb(185, 116, 116);
}
.btn-edit {
  color: rgb(51, 51, 127);
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  display: flex;
  justify-content:center;
  align-items: center;
}

.line-through {
   text-decoration: line-through;
}

.alert {
  width: 15rem;
  padding: .5rem;
  margin-bottom: .5rem;
  border-radius: .3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
}

.success {
  background-color: rgb(88, 146, 88);
}

.danger {
  background-color: rgb(180, 96, 96);
}

.btn-clear {
  margin-top: 3rem;
  font-size: 2rem;
  color: rgb(104, 52, 52);
}

.btn-submit {
  background-color: rgb(53, 129, 53);
  border: 0;
  outline: none;
  box-shadow: .5rem 1rem 3rem rgb(67, 64, 64);
  color: aliceblue;
  border-radius: .3rem;
}